// -----------------------------------------------------------------------------
// This file contains styles that are specific to the landing page.
// -----------------------------------------------------------------------------
.main {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .siderbar {
    width: 100%;

    .siderbar-container {
      background-image: url("../img/Buildings-background.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0% 100%;
      height: 100vh;

      .hamburger-menu {
        background-color: $primary-color;
        height: 62pt;
        width: 62pt;
        border: none;
        padding: 10pt;
        overflow: hidden;
        display: block;
        // outline: none;
        transition: background-color 0.3s ease;
        cursor: pointer;

        @include on-event {
          background-color: shade($primary-color, 30%);
        }

        .line {
          background-color: $white;
          height: 4pt;
          width: 100%;
          margin: 10pt 0pt;

          &:first-child {
            width: 50%;
            margin-top: 0pt;
          }

          &:nth-child(2) {
            width: 75%;
          }

          &:nth-child(3) {
            width: 100%;
            margin-bottom: 0pt;
          }
        }
      }

      h1 {
        font-weight: 300;
        font-size: 24.5pt;
        line-height: 28.98pt;
        margin: 0pt;
        padding: 35pt 30pt 25pt;
      }

      p {
        font-weight: 300;
        font-size: 12pt;
        line-height: 14.4pt;
        margin: 0pt;
        padding: 0pt 30pt;
      }
    }
  }

  .future-of-hr-tech {
    height: 100vh;
    width: 100%;

    h2 {
      text-align: center;
      font-family: $secondary-font;
      font-size: 50pt;
      line-height: 60pt;
      font-weight: 600;
    }

    .animation-container {
      .circle-container {
        padding: 15pt;
        margin: 0 auto;
        position: relative;
        display: none;

        .svg-overflow {
          overflow: visible;

          #circle {
            stroke: transparent;
            stroke-width: 2pt;
            fill: none;

            &.with-transition {
              transition: stroke-dasharray 5s ease-in-out;
            }
          }
        }

        .invisible-circle {
          width: 390pt; // 380pt + 10pt
          height: 390pt; // 380pt + 10pt

          margin: 0 auto;

          position: absolute;
          top: calc(50% - 196pt); // calc(50% - 245.5px);
          bottom: auto;
          left: 0pt;
          right: 0pt;
          border-radius: 100%;

          .point-container {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -3pt;
            margin-top: -3pt;

            // Moving points
            $deg: 90deg;

            @for $i from 1 through 40 {
              &:nth-child(#{$i}) {
                transform: rotate($deg) translate(200pt);
              }

              // Adding new value to deg
              $deg: ($deg + (6.92));
            }

            .point {
              width: 6pt;
              height: 6pt;
              background-color: #000000;
              border-radius: 100%;

              opacity: 0;
              transform: scale(0);

              transform-origin: 50% 50%;
              // transition: opacity 6s ease-in, transform 3s ease-in;

              &.with-animation {
                animation: fadePoint 4s ease-in-out forwards, scalePoint 3s ease-in-out forwards;
                animation-delay: 1s;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .main {
    .container {
      flex-direction: row;
    }

    .siderbar {
      width: 180pt;
      position: fixed;
      left: 0px;
      top: 0px;
      bottom: 0px;
    }

    .future-of-hr-tech {
      flex: 1;
      width: auto;
      padding-left: 180pt;

      .animation-container {
        .circle-container {
          display: block;
          width: 370pt;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .main {
    .siderbar {
      width: 217pt;
    }

    .future-of-hr-tech {
      padding-left: 217pt;

      .animation-container {
        .circle-container {
          width: 520pt;

          .invisible-circle {
            width: 546pt;
            height: 546pt;
  
            top: calc(50% - 274pt); 
            
  
            .point-container {               
              // Moving points
              $deg: 90deg;
  
              @for $i from 1 through 40 {
                &:nth-child(#{$i}) {
                  transform: rotate($deg) translate(274pt);
                }
  
                // Adding new value to deg
                $deg: ($deg + (6.92));
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadePoint {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scalePoint {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
