// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Fonts
$primary-font: 'Taub-Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

/// Copy text
/// @type Color
$text-color: #000000 !default;
$white: #ffffff;

// Company color pallete
$primary-color: #0b3480; // Blue
$secondary-color: #121c4e; // Dark blue
$third-color: #ffcc00;

$body-color: $white;

$base-url: '/assets/' !default;
